body {
    background: #eee;
}

#footer {
    margin-top: 20px;
    background: #222;
    width: 100%;
    /*cach phan tren*/
    padding-top: 10px;
    /*cach phan tren trong layout*/
}

#footer p {
    color: #fff;
}


/*css phan socie media*/

#footer ul {
    overflow: auto;
}

#footer ul li {
    list-style-type: none;
    float: left;
}

#footer ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    margin-right: 6px;
    padding-top: 22%;
}

#footer .fa-facebook {
    background: #3b5998
}

#footer .fa-linkedin {
    background: #007bb6
}

#footer .fa-twitter {
    background: #00aced
}

#footer .fa-google-plus {
    background: #dd4b39
}

#footer ul li a i {
    transition: all 0.2s ease-in-out;
}

#footer ul li a i:hover {
    opacity: .7;
}
/*css phan content layout*/
.container .row  .col1  {
            /*margin-left: 10px;*/
            margin-top: 10px;
            height: 510px;
            background-color: #fff;
            box-shadow: 4px 3px 4px #eee;
        }
        

        .container .row h2,p {
            margin-left: 30px;
        }
        #chartContainer {
            margin-left: 30px;
        }
.container .row .col1 .row p{
            color: #767676;
       }




      